body{
    background-image: url(../img/gradient_mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.box-container{
    width: 400px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.box{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: rgb(36, 52, 66);
}

#boussole{
    size: 20%;
}

#city{
    background-color: rgb(252, 252, 252);
}

#ciel{
    background-color: rgb(252, 252, 252);
}

#humid{
    background-color: rgb(228, 228, 228);
}


#tempfee{
    background-color: rgb(228, 228, 228);
}

#tempma{
    background-color: rgb(252, 252, 252);
}

#tempmi{
    background-color: rgb(252, 252, 252);
}

#winde{
    background-color: rgb(228, 228, 228);
}

#windspee{
    background-color: rgb(228, 228, 228);
}